.--theme-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 300;
}


.--theme-button:hover {
    transform: scale(1.05);
    background-color: greenyellow;
}