.--theme-button {
    margin: 5px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1rem;
    float: right;

}

.--theme-button:hover {
    transform: scale(1.05);
    background-color: greenyellow;
}